<html lang="en">
  <head>
    <title>Fastify Server-Side Events Demo</title>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script
      src="/js/index.js"
      type="module"
      defer></script>
    <link href="/css/tailwind.css" rel="stylesheet">
  </head>
  <body>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex flex-col gap-2 items-center justify-center">
        <div class="flex items-center justify-center py-2">
          <h1 class="font-semibold text-2xl">Fastify Server-Side Events Demo</h1>
        </div>
        <span class="text-lg">Status:
          <span id="status" class="font-medium text-red-800">Not Connecteds</span>
        </span>
        <span class="font-medium text-lg">Clients connected:
          <span id="client_count">{{ client_count }}</span>
        </span>
        <div class="w-full">
          <canvas id="chart"></canvas>
        </div>
        <h2 class="text-lg font-semibold">Recent data</h2>
        <ul class="flex flex-col gap-1 text-sm lg:text-base" id="list"></ul>
      </div>
    </div>
  </body>
</html>